/*navbar*/

@media (min-width: 768px) {
  .navbar-header img{
	   width: 100%;
   }
  .navbar-custom {
    border-bottom: none;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 480px) {
.inner{
  width: 80%;
}
.banner{
  width: 70%;
  height: 30%;
  left: 12%;
  top: 12%;
}

.section1{
  margin-top: 80%;
  font-size: .7em;
}

.front {
    top: 40px;
    font-size: 3vw;
}

.cualidades {
  top:60px;
  font-size: 2.5vw;
}


.btn-circle {
    width: 20%;
    height: 20%;
    font-size: 100%;
}

.btn1{
 left:  40%;
}
.vid{
  position: fixed;
}

}

